body#confirmation {
    background-image: url("../images/pexels-shantanu-pal-2802527.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#confirmation p {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px 8px;
}

#confirmation nav {
    box-shadow: 0px 4px 8px rgba(38, 34, 33, 0.3);
}