nav {
    height: var(--header-height);
    width: 100%;
    background-color: var(--grey-0) !important;
}

nav a {
    font-family: var(--font-serif);
    font-size: 1.5rem !important;
    color: var(--primary-color-dark) !important;
}

.header {
    background-color: var(--grey-0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.logo {
    width: 110px;
}

#nb-prod-cart {
    position: absolute;
    background-color: var(--accent-color-light);
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50px;
    font-size: 10px;
    color: white;
    font-weight: 600;
    right: -14px;
}