#products-li {
    border-bottom: 1px solid var(--secondary-color-medium);
}

#products input[type="text"] {
    min-width: 300px;
}

#products form > div {
    width: fit-content;
}

#products input[type="submit"] {
    width: 32px;
    height: 32px;
    background-image: url("../images/healthicons_magnifying-glass-outline.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.product-card {
    border: 1px solid var(--primary-color-dark);
    display: flex;
}

.product-card .col-left {
    box-sizing: border-box;
    padding: 16px;
    width: calc(100% - 225px);
}

.conditioning {
    min-height: 22px;
}

.product-card .col-right {
    width: 225px;
    height: 225px;
    min-height: 100%;
    overflow: hidden;
    cursor: zoom-in;
}

.product-card .col-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.product-card .col-right img:hover {
    transform: scale(1.05);
}

#products #grid-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}

#products .aligned p {
    display: inline-block;
}

#products .aligned p:first-child {
    background-color: var(--primary-color-light);
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

#products .aligned p:first-child:hover {
    background-color: var(--primary-color-dark);
}

#products .aligned p:last-child {
    float: right;
}

#breadcrumb span {
    padding-left: 4px;
    padding-right: 4px;
}

#breadcrumb a {
    color: var(--accent-color-dark);
}