.img-container {
    overflow: hidden;
}

.img-container .product-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.img-container img.icon {
    right: 8px;
    top: 8px;
    display: none;
    transition: 0.2s;
}

.img-container:hover img.icon {
    display: block;
}

body {
    min-height: 100vh;
}