<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <div th:replace="fragments/frag_head :: frag_head"></div>
</head>
<body>
<div th:replace="fragments/frag_nav :: frag_nav"></div>

    <div class="container">
        <div class="card">
            <div class="card-header">Liste des administrateurs</div>
            <div class="card-body">
                <table>
                    <thead class="table">
                        <tr>
                            <th>ID</th><th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="a:${listAdmins}">
                            <td th:text="${a.id}"></td>
                            <td th:text="${a.email}"></td>
                            <td>
                                <a class="btn btn-danger" th:href="@{delete(id=${a.id})}">Supprimer</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form th:object="${newAdmin}" th:action="@{/admins}" method="post">
            <label>Nom : <input type="text" th:field="*{firstname}" /></label><br/>
            <label>Prénom : <input type="text" th:field="*{lastname}" /></label><br/>
            <label>Adresse : <input type="text" th:field="*{email}" /></label><br/>
            <label>MDP : <input type="text" th:field="*{password}" /></label><br/>

            <input type="submit" value="Ajouter" />
        </form>
    </div>
<div th:replace="fragments/frag_footer :: frag_footer"></div>

</body>
</html>
