<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cart</title>
    <div th:replace="fragments/frag_head :: frag_head"></div>
</head>

<body>

<div th:replace="fragments/frag_nav :: frag_nav"></div>

    <div class="container">
        <div class="row">
            <div class="col my-5">
                <p th:if="${cartItems == null || cartItems.size() == 0}" >Votre panier est vide. Parcourir la <a href="#" th:href="@{/products}">boutique</a>.</p>
                <p th:if="${cartItems != null && cartItems.size() > 0}">Voici les détails de votre panier :</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Article</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item: ${cartItems}">
                            <th scope="row" th:text="${item.productDto.name}"></th>
                            <td th:text="${item.quantity}"></td>
                            <td th:text="${item.productDto.price}"></td>
                            <td>
                                <a href="#" th:href="@{/cart/delete(id=${item.productDto.id})}">
                                    <img src="/images/dashicons_trash.svg" alt="retirer du panier">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2">Nombre de produits</th>
                            <td th:text="${totalQuantity}"></td>
                        </tr>
                        <tr>
                            <th colspan="2">Prix</th>
                            <td th:text="${totalPrice} + ' €'"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col">
                <a href="#" th:href="@{/products}">
                    <button class="button">Boutique</button>
                </a>
            </div>
            <div class="col">
                <a th:if="${cartItems.size() != 0}" href="#" th:href="@{/order}">
                    <button class="button float-end">Commander</button>
                </a>
            </div>
        </div>
    </div>

<div th:replace="fragments/frag_footer :: frag_footer"></div>

<script>
    document.getElementById("order-button").onclick = () => sessionStorage.setItem("redirect", "order");
</script>

</body>

</html>
