<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/frag_head :: frag_head}"></div>
  <title>Fines Saveurs | Profil</title>
</head>


<body>

<div th:replace="~{fragments/frag_nav :: frag_nav}"></div>

<div class="page">
<main>
  <div class="container d-flex flex-column align-items-center justify-content-center mt-4">
    <div class=" mb-4 d-flex justify-content-around " >
      <a href="account" title="retour"><img src="/images/arrow_back.svg" style="width: 1.5rem; margin-right: 1em" alt=""></a>
      <h2>Mes informations personnelles</h2>
    </div>
    <div class="card row shadow p-3 mb-5 bg-body rounded" style="width: 35%">
      <div class="col-12">
        <img class="w-100" src="/images/card_profile.png" alt="">
      </div>
      <div class="card-body col-12">
        <div th:each="customer : ${customers}">
        <p class="mb-4">Nom: <span th:text="${customer.lastname}"></span></p>
        <p class="mb-4">Prénom: <span th:text="${customer.firstname}"></span></p>
        <p class="mb-4">Email : <span th:text="${customer.email}"></span></p>
        <p class="mb-4">Password: ********</p>
          <div class="d-flex justify-content-around col-12">
            <div class="my-4">
              <a th:href="@{'customers/edit'}"><button class="button">Modifier le profil</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div th:replace="~{fragments/frag_footer :: frag_footer}"></div>

</div>

</body>
</html>