<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/frag_head :: frag_head}"></div>
    <title>Fines Saveurs | Profil</title>
</head>


<body>

<div th:replace="~{fragments/frag_nav :: frag_nav}"></div>

<div class="page">

<main>
    <div class="container d-flex flex-column align-items-center justify-content-center mt-4">
        <div class=" mb-4 d-flex justify-content-around ">
            <a href="account" title="retour"><img src="/images/arrow_back.svg" style="width: 1.5rem; margin-right: 1em"
                                                  alt=""></a>
            <h2>Modifier mes informations personnelles</h2>
        </div>
        <div class="card row shadow p-3 mb-5 bg-body rounded" style="width: 35%">
            <div class="col-12">
                <img class="w-100" src="/images/card_profile.png" alt="">
            </div>
            <div class="card-body col-12">

                <form th:action="@{/customers/edit}" th:object="${customer}" method="POST">

                    <!-- Hidden field -->
                    <input type="text" class="hidden" th:field="*{id}" th:value="${customer.id}">

                    <div class="my-4">
                        <label for="firstname">Prénom</label>
                        <input id="firstname" type="text" name="firstname" th:field="*{firstname}" class="form-control" th:value="${customer.firstname}" required>
                    </div>

                    <div class="my-4">
                        <label for="lastname">Nom</label>
                        <input id="lastname" type="text" name="lastname" th:field="*{lastname}" class="form-control" th:value="${customer.lastname}" required>
                    </div>

                    <div class="my-4">
                        <label for="email">Email</label>
                        <input id="email" type="text" name="email" th:field="*{email}" class="form-control" th:value="${customer.email}" required>
                        <label th:if="${emailError}" class="error">Un compte existe déjà avec cette adresse e-mail.</label>
                    </div>
                    <div class="my-4">
                        <label for="password">Mot de passe</label>
                        <input id="password" type="password" name="password" value="" placeholder= "*********" class="form-control" th:field="*{password}">
                    </div>
                    <div class="my-4">
                        <label for="confirmation">Confirmation</label>
                        <input id="confirmation" type="password" name="confirmation" value="" placeholder= "*********" class="form-control" th:field="*{passwordConfirmation}">
                        <label th:if="${passwordError}" class="error">Le mot de passe et la confirmation ne correspondent pas.</label>
                    </div>

                    <div class="my-4">
                        <button type="submit" class="button my-4 float-end">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/frag_footer :: frag_footer}"></div>

</div>

</body>
</html>