<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mentions légales</title>
    <div th:replace="~{fragments/frag_head :: frag_head}"></div>
</head>
<body>
<div th:replace="fragments/frag_nav :: frag_nav"></div>
<div class="page">


    <div class="container">
        <h1>MENTIONS LÉGALES</h1>

        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Fines Saveurs l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
        <h2>Edition du site
        </h2>
        <p>Le présent site, accessible à l’URL www.fines-saveurs.fr (le « Site »), est édité par :

            Fines Saveurs , société au capital de 23000 euros, inscrite au R.C.S. de NANTES sous le numéro RCS NANTES B 514 919 844, dont le siège social est situé au 16 Mail Pablo Picasso, 44000 Nantes, représenté(e) par Fine Flavour dûment habilité(e)

            Le numéro individuel TVA de l’éditeur est : FR 40 123456789.</p>

        <h2>Hébergement</h2>

        <p>Le Site est hébergé par la société Fly.io, situé 2 rue de l'échappée 75010 PARIS., (contact téléphonique ou email : +33612345678).
        </p>
        <h2>Directeur de publication</h2>

        <p>Le Directeur de la publication du Site est Fine Flavour .</p>

        <h2>Nous contacter</h2>

        <p>Par téléphone : +33698765432
            Par email : contact@fines-saveurs.fr
            Par courrier : 6 Mail Pablo Picasso, 44000 Nantes</p>

        <h2>Données personnelles</h2>

        <p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).
        </p>
    </div>

    <div th:replace="fragments/frag_footer :: frag_footer"></div>
</div>
</body>
</html>