<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Fines Saveurs | Paiement</title>
  <div th:replace="fragments/frag_head :: frag_head"></div>
</head>

<body>

<div th:replace="fragments/frag_nav :: frag_nav"></div>

<div class="container my-5">

  <div class="row">
    <div class="col">
      <form action="#" th:action="@{/payment}" method="post" id="payment">

        <fieldset class="my-5 py-4">
          <p>Choisir une méthode de paiement :</p>
          <div class="d-flex">
            <input type="radio" id="card" name="payment" value="card" class="me-2" checked>
            <label for="card"><img src="/images/card.png" alt="visa/mastercard"></label>
            <input type="radio" id="paypal" name="payment" value="paypal" class="me-2">
            <label for="paypal"><img src="/images/paypal.png" alt="paypal"></label>
          </div>
        </fieldset>


        <fieldset class="my-5 py-4">
          <legend class="mb-4 bold uppercase smaller">Vos informations</legend>

          <div class="mb-3">
            <label for="name">Nom complet</label>
            <input class="long" type="text" name="name" id="name" placeholder="NOM COMPLET" required>
          </div>

          <div class="mb-3">
            <label for="number">Numéro de carte</label>
            <input class="long" type="number" name="number" id="number" placeholder="XXXX XXXX XXXX XXXX" required>
          </div>

          <div class="mb-3">
            <label for="date">Date</label>
            <div class="d-inline" id="date">
              <input class="short" type="number" name="month" id="month" placeholder="XX" required>
              <span class="big">/</span>
              <input class="short" type="number" name="year" id="year" placeholder="XX" required></div>
          </div>

          <div class="mb-3">
            <label for="cvc">CVC</label>
            <input class="short" type="number" name="cvc" id="cvc" placeholder="XXX" required>
          </div>

        </fieldset>

          <input type="submit" value="Payer" class="button float-end" required>

      </form>
    </div>
  </div>


</div>

</body>
</html>