<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Produits</title>
  <div th:replace="~{fragments/frag_head :: frag_head}"></div>
</head>
<body>
<div th:replace="~{fragments/frag_nav :: frag_nav}"></div>

  <form th:action="@{/products}">
    Rechercher : <input type="text" name="keyword" size="50" th:value="${keyword}" />
    &nbsp;
    <input type="submit" th:value="Chercher" />
    &nbsp;
    <input type="button" th:value="Effacer" id="btnClear", onclick="clearSearch()" />
  </form>

<div class="container">
  <div class="card">
    <div class="card-header">Liste des produits</div>
    <div class="card-body">
      <table>
        <thead class="table">
        <tr>
          <th>ID</th><th>Marque</th><th>Conditionnement</th><th>Description</th><th>Ingrédients</th><th>Nom</th><th>Origine</th><th>Prix</th><th>Référence</th><th>Stock</th><th>image</th>, <th>Catégorie (id)</th><th>Go</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${listProducts}">
          <td th:text="${p.id}"></td>
          <td th:text="${p.brand}"></td>
          <td th:text="${p.conditioning}"></td>
          <td th:text="${p.description}"></td>
          <td>
            <th:block th:if="${p.imageUrl == null or p.imageUrl.isEmpty()}">
              <img th:src="@{/image/placeholder.jpg}" alt="">
            </th:block>
            <th:block th:unless="${p.imageUrl == null or p.imageUrl.isEmpty()}">
              <img th:src="@{'http://localhost:8080/image?file=' + ${p.imageUrl}}" alt="">
            </th:block>
          </td>
          <td th:text="${p.ingredient}"></td>
          <td th:text="${p.name}"></td>
          <td th:text="${p.origin}"></td>
          <td th:text="${p.price}"></td>
          <td th:text="${p.reference}"></td>
          <td th:text="${p.stock}"></td>
          <td th:text="${p.category.name}"></td>
          <td>
            <a th:href="@{/product/{id}(id=${p.id})}">Voir détails</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div th:replace="~{fragments/frag_footer :: frag_footer}"></div>



<script type="text/javascript">
  function clearSearch() {
    window.location = "[[@{/products}]]";
  }
</script>
</body>
</html>
