<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fines Saveurs | Boutique</title>
    <div th:replace="~{fragments/frag_head :: frag_head}"></div>
</head>

<body id="products">

<div th:replace="~{fragments/frag_nav :: frag_nav}"></div>

<div class="container my-5">
    <div class="row">
        <div class="col">
            <form th:action="@{/products/search}" method="get" class="d-flex align-items-center">
                <div class="position-relative">
                    <input type="text" placeholder="Rechercher" name="keywords" value="" th:value="${keywords}">
                    <input type="submit" class="position-absolute end-0" value="" id="magnifying-glass">
                </div>
                <a th:href="@{/products}" class="ms-4">Tout afficher</a>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-5 pb-5">
        <div class="col pb-5" id="grid-products">

            <p id="no-result">Votre recherche n'a produit aucun résultat.</p>

            <div th:each="prod: ${products}" class="product-card overflow-hidden">
                <div class="col-left">
                    <p class="uppercase bold small" th:text="${prod.name}"></p>
                    <p class="bold" th:text="${prod.brand}"></p>
                    <p> Ref. <span th:text="${prod.reference}"></span></p>
                    <p><span th:text="${prod.price}"></span> €</p>
                    <p class="conditioning" th:text="${prod.conditioning}"></p>
                    <div class="aligned">
                        <p class="mb-0"><a href="#" th:href="@{/product/{id}(id=${prod.id})}"
                                           class="underline-none uppercase bold smaller text-white">Détails</a></p>
                        <a href="#" th:href="@{/cart/add(id=${prod.id}, qty=${1})}" class="float-end"><img src="/images/solar_cart-bold.svg" alt=""></a> <!-- Ajouter au panier -->
                    </div>
                </div>

                <div class="col-right">
                    <th:block th:if="${prod.imageUrl == null or prod.imageUrl.isEmpty()}">
                        <img th:src="@{/images/placeholder.jpg}" alt="">
                    </th:block>
                    <th:block th:unless="${prod.imageUrl == null or prod.imageUrl.isEmpty()}">
                        <img th:src="@{'http://localhost:8080/image?file=' + ${prod.imageUrl}}" alt="">
                    </th:block>
                </div>

            </div>

        </div>
    </div>
</div>
<div th:replace="~{fragments/frag_footer :: frag_footer}"></div>


<script type="text/javascript">

    if (
        document.getElementsByClassName("product-card").length > 0 &&
        document.querySelector("input[type='text']").value.length === 0
    ) {
        document.getElementById("no-result").style.display = "none";
    }

    const handleClick = event => {
        const inputElement = event.target;
        inputElement.setSelectionRange(0, inputElement.value.length);
    }

    document
        .querySelector('input[name="keywords"]')
        .addEventListener("click", handleClick);

</script>

</body>
</html>
