<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fines Saveurs | Inscription</title>
    <div th:replace="~{fragments/frag_head :: frag_head}"></div>
</head>
<body>
<div th:replace="~{fragments/frag_nav :: frag_nav}"></div>

<div class="page">
<main>
    <div class="container d-flex justify-content-center align-items-center flex-column mt-4 mb-4">
        <div class="row mt-4 mb-3">
            <h2>S'inscrire </h2>
        </div>
        <div class="card row w-50">
            <div class="mt-3">
                <p>Inscrivez-vous en fournissant les informations suivantes :</p>
            </div>
            <div class="card-body">
                <form th:action="@{/signup}" method="post" th:object="${customer}">
                    <div>
                        <div class="my-4">
                            <label for="firstname" class="form-label">Nom:</label>
                            <input type="text" class="form-control" id="firstname" name="firstname"
                                   th:field="*{firstname}" required>
                        </div>
                        <div class="my-4">
                            <label for="lastname" class="form-label">Prénom:</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" th:field="*{lastname}"
                                   required>
                        </div>
                        <div class="my-4">
                            <label for="password" class="form-label">Mot de passe:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   th:field="*{password}" autocomplete="new-password" required>
                            <label th:if="${passwordEmpty}" class="error">Le mot de passe ne doit pas être vide.</label>
                        </div>
                        <div class="my-4">
                            <label for="confirmation" class="form-label">Confirmation de mot de passe:</label>
                            <input type="password" class="form-control" id="confirmation" name="confirmation"
                                   th:field="*{passwordConfirmation}" autocomplete="new-password" required>
                            <label th:if="${passwordError}" class="error">Le mot de passe et la confirmation ne correspondent pas.</label>
                        </div>
                        <div class="my-4">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                                   required>
                            <label th:if="${emailError}" class="error">Un compte existe déjà avec cette adresse e-mail.</label>
                        </div>
                        <div class="my-4 d-flex justify-content-between">
                            <a href="" class="small-link">Réinitialiser</a>
                            <input type="submit" class="button my-4 float-end" value="S'inscrire">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/frag_footer :: frag_footer}"></div>

</div>

</body>
</html>