<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fines Saveurs | Inscription</title>
    <div th:replace="~{fragments/frag_head :: frag_head}"></div>
</head>
<body>
<div th:replace="~{fragments/frag_nav :: frag_nav}"></div>

<div class="page">

<main>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>Inscrivez-vous en fournissant les informations suivantes :</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col">

                <form th:action="@{/signup}" method="post" th:object="${customer}" class="signup-form mx-auto">

                    <div class="my-4">
                        <label for="firstname" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="firstname" name="firstname"
                               th:field="*{firstname}" required>
                    </div>

                    <div class="my-4">
                        <label for="lastname" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" th:field="*{lastname}"
                               required>
                    </div>

                    <div class="my-4">
                        <label for="email" class="form-label">Adresse e-mail</label>
                        <div>
                            <input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="mon-email@email.com"
                                   required>
                            <p th:if="${emailError}" class="error m-0">Un compte existe déjà avec cette adresse e-mail.</p>
                        </div>
                    </div>

                    <div class="my-4">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password"
                               th:field="*{password}" autocomplete="new-password" placeholder="**********" required>
                        <label th:if="${passwordEmpty}" class="error">Le mot de passe ne doit pas être vide.</label>
                    </div>

                    <div class="my-4">
                        <label for="confirmation" class="form-label">Confirmation</label>
                        <div>
                            <input type="password" class="form-control" id="confirmation" name="confirmation"
                                   th:field="*{passwordConfirmation}" autocomplete="new-password" placeholder="**********" required>
                            <p th:if="${passwordError}" class="error m-0">Le mot de passe et la confirmation ne correspondent pas.</p>
                        </div>
                    </div>

                    <div class="my-4 d-flex justify-content-between">
                        <a href="" class="small-link">Réinitialiser</a>
                        <input type="submit" class="button my-4 float-end" value="S'inscrire">
                    </div>

                </form>

            </div>
        </div>
    </div>

</main>

<div th:replace="~{fragments/frag_footer :: frag_footer}"></div>

</div>

</body>
</html>